/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* main */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}
  

.container {
    max-width: 960px;
}

.hfContainer {
    max-width: 1280px;
    margin: auto;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.hidden {
    opacity: 0;
}

/*=======================================

            Navigation Bar

=======================================*/

.mainLogo {
    box-shadow: 1px 1px 15px #888888;
}

.navIcon a{
    margin-right: 17px;
}

.navIcon a:nth-child(1)::before {
    content: "";
    font-weight: 900;
    color: #c3c3c3;
    border-right: 2px solid #c3c3c3;
    position: relative;
    left: -30px;
}

.mainNavigation {
    width: 100%;
    margin: auto;
    border-top: 3px solid #1d1c1c;
    margin-top:25px;
    background: #f3f3f4;
}

.navbar {
    padding: 0 1rem;
}

.navLinks li {
    list-style: none;
    margin: 17px;
}

a.nav-link {
    font-size: 18px;
    font-weight: 700;
    padding: 15px 10px;
}

li.nav-item {
    margin: 0 12px;
}

li.nav-item.active {
    background: #dadada;
    border-bottom: 4px solid #f26538;
}

/*=======================================

            Main Section

=======================================*/

.contentTitle {
    text-align: center;
    color: #6c6d72;
}

.contentTitle h1{
    font-size: 2em;
}

.services {
    width: 50%;
    margin: auto;
    border-bottom: 1px solid black;
    padding-bottom: 40px;
}

.icons1 {
    display: flex;
    list-style: none;
    flex: 1;
    justify-content: space-around;
}

.icons1 li a {
    text-align: center;
}

.icons1 p {
    font-size: 17px;
    text-align: center;
    font-weight: 700;
}

.icons1 li:nth-child(1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icons1 li:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icons1 li:nth-child(3) {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icons1 li:nth-child(4) {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondSection {
    margin-top: 35px;
}

.googleAds {
    text-align: center;
}

/*=======================================

           table

=======================================*/
.casContainer {
  padding: 15px;
}

.casContainer button{
  box-shadow: 1px 1px 5px #888888;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 10px 15px;
}

.searchBar {
    width: 35%;
    position: relative;
    left: 61.5555%;
}
/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 22%;
  padding-left: 40px;
}

.column2 {
  width: 13%;
}

.column3 {
  width: 33%;
}

.column4 {
  width: 19%;
  padding-left: -15px;
}

.column5 {
  width: 13%;
}

.column6 {
  width: 15.5555%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
}


.table100.ver2 .table100-head {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  .table100.ver2 th {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fa4251;
    line-height: 1.4;
  
    background-color: transparent;
  }
  
  .table100.ver2 td {
    font-family: Lato-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
  }
  
  .table100.ver2 .table100-body tr {
    border-bottom: 1px solid #f2f2f2;
  }
  
  /*---------------------------------------------*/
  
  .table100.ver2 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  }
  
  .table100.ver2 .ps__rail-y {
    right: 5px;
  }
  
  .table100.ver2 .ps__rail-y::before {
    background-color: #ebebeb;
  }
  
  .table100.ver2 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
  }
  

.alertSection p {
  text-align: right;
  text-decoration: underline;
  cursor: pointer;
}

.alertSection p:nth-child(1){
  color: #F5C038;
}
.alertSection p:nth-child(2){
  color: #2883B1;
}
/*=======================================

            fOOTER

=======================================*/

footer {
    margin-top:25px;
    background: #f3f3f4;
    padding: 50px 0;
}

footer ul{
    list-style: none;
}

.searchContainer {
    margin-top: 10px;
}

.searchContainer form {
  display: flex;
}

.searchContainer input {
    margin-right: -5px;
    padding: 5px;
    border: none;
    width: 65%;
}

.searchContainer button {
    background: #2983b2;
    color: #fff;
    padding: 5px 15px;
    border-radius: 2px;
    border: none;
}

.quickLink ul {
    margin-right: 15%;
}

.quickLink li {
    margin-top: 10px;
    font-size: 17px;
}

.quickLink a {
    color: #F15922;
    text-decoration: none;
}

.appTitle {
  color: #2782b1;
  font-weight: bold;
  margin-bottom: 30px;
}

.appSubTitle {
  color: #1d1c1c;
  font-size: 12px;
  margin-bottom: 10px;
}




.close {
  display: none;
}